[Desktop Entry]
Encoding=UTF-8
Name=Save Persistence Changes
Name[fr_BE]=Persistance Enregistrer les changements
Name[pt_BR]=Persistência - Salvar as Alterações
Name[de]=Ändengen persistent speichern
Name[el]=Αποθήκευση Αλλαγών
Name[it]=Salva modifiche nella persistenza
Name[hu]=Tartós változtatások mentése
Name[af]=Stoor volhardingsveranderinge
Name[am]=የማያቋርጥ ለውጥ
Name[ar]=ﺓﺮﻤﺘﺴﻤﻟﺍ ﺕﺍﺮﻴﻴﻐﺘﻟﺍ ﻆﻔﺣ
Name[be]=Захаваць устойлівыя змены
Name[bg]=Запазване на промените за постоянство
Name[bn]=অধ্যবসায় পরিবর্তন সংরক্ষণ করুন
Name[bs]=Sačuvaj promjene postojanosti
Name[ca]=Desa els canvis a la persistència
Name[ceb]=I-save ang Pagpadayon nga mga Pagbag-o
Name[co]=Salvà i cambiamenti di persistenza
Name[cs]=Uložit změny perzistence
Name[cy]=Arbed Newidiadau Dyfalbarhad
Name[da]=Gem vedvarenhedsændringer
Name[eo]=Konservu Persistajn Ŝanĝojn
Name[es]=Guardar cambios de Persistencia
Name[et]=Salvestage püsivuse muudatused
Name[eu]=Gorde iraunkortasun-aldaketak
Name[fa]=ﺪﯿﻨﮐ ﻩﺮﯿﺧﺫ ﺍﺭ ﯼﺭﺍﺪﯾﺎﭘ ﺕﺍﺮﯿﯿﻐﺗ
Name[fi]=Tallenna persistenssi-tilavaran muutokset
Name[fil]=I-save ang Mga Pagbabago sa Pagtitiyaga
Name[fr]=Persistance Enregistrer les changements
Name[fy]=Bewarje Persistinsje Feroarings
Name[ga]=Sábháil Athruithe Marthanachta
Name[gd]=Sàbhail atharrachaidhean seasmhachd
Name[gl]=Gardar cambios de persistencia
Name[gu]=પર્સિસ્ટન્સ ફેરફારો સાચવો
Name[ha]=Ajiye Canje-canje na Juriya
Name[haw]=E mālama i nā hoʻololi hoʻomau
Name[he]=הדמתהב םייוניש רומש
Name[hi]=संरक्षण परिवर्तन संचय
Name[hr]=Spremi promjene postojanosti
Name[ht]=Sove chanjman pèsistans
Name[hy]=Պահպանեք համառության փոփոխությունները
Name[id]=Simpan Perubahan Kegigihan
Name[is]=Vista breytingar á varanlegri gagnageymslu
Name[ja]=パーシステンスの変更を保存
Name[jv]=Simpen Owah-owahan Kegigihan
Name[ka]=შეინახეთ მდგრადობის ცვლილებები
Name[kk]=Тұрақтылық өзгерістерін сақтаңыз
Name[km]=រក្សាទុកការផ្លាស់ប្តូរការតស៊ូ
Name[kn]=ನಿರಂತರ ಬದಲಾವಣೆಗಳನ್ನು ಉಳಿಸಿ
Name[ko]=지속성 변경 사항 저장
Name[ku]=Save Guherandinên Persistence
Name[ky]=Туруктуу өзгөрүүлөрдү сактоо
Name[lb]=Retten Persistenz Ännerungen
Name[lo]=ບັນທຶກການປ່ຽນແປງຄົງທີ່
Name[lt]=Išsaugokite patvarumo pakeitimus
Name[lv]=Saglabājiet noturības izmaiņas
Name[mg]=Vonjeo ny fiovana maharitra
Name[mi]=Tiaki Huringa Tonu
Name[mk]=Зачувајте ги промените на упорноста
Name[ml]=സ്ഥിരതയുള്ള മാറ്റങ്ങൾ സംരക്ഷിക്കുക
Name[mn]=Тогтвортой байдлын өөрчлөлтийг хадгалах
Name[mr]=चिकाटी बदल जतन करा
Name[ms]=Simpan Perubahan Kegigihan
Name[mt]=Save Persistenza Bidliet
Name[my]=စွဲမြဲသောပြောင်းလဲမှုများကို သိမ်းဆည်းပါ။
Name[ne]=दृढता परिवर्तनहरू बचत गर्नुहोस्
Name[nl]=Persistentie Wijzigingen Opslaan
Name[nb]=Lagre endringer i filsystemet
Name[ny]=Sungani Kulimbikira Kusintha
Name[or]=ସ୍ଥିରତା ପରିବର୍ତ୍ତନ ସଞ୍ଚୟ କରନ୍ତୁ |
Name[pa]=ਸਥਿਰਤਾ ਤਬਦੀਲੀਆਂ ਨੂੰ ਸੁਰੱਖਿਅਤ ਕਰੋ
Name[pl]=Zapisz zmiany w Persistence
Name[ps]=ﺉړﮐ ﻱﺪﻧﻮﺧ ﻪﻧﻮﻧﻮﻟﺪﺑ ﻡﺍﻭﺩ ﺩ
Name[pt]=Persistência > Guardar Alterações
Name[ro]=Salvați modificările de persistență
Name[ru]=Сохр. изм. сохраняемости
Name[rw]=Bika Impinduka zo Kwihangana
Name[sd]=ﻮﻳﺎﭽﺑ ﻲﮐ ﻦﻴﻠﻳﺪﺒﺗ ﻞﺴﻠﺴﻣ
Name[si]=නොනැසී පවතින වෙනස්කම් සුරකින්න
Name[sk]=Uložiť zmeny trvalosti
Name[sl]=Sharni spremembe persistence
Name[sm]=Faasaoina Suiga Tumau
Name[sn]=Chengetedza Kuramba Kuchinja
Name[so]=Badbaadi isbedelada joogtada ah
Name[sq]=Ruani Ndryshime Vazhdueshmërie
Name[sr]=Сачувај промене постојаности
Name[st]=Boloka Liphetoho tsa Phehello
Name[su]=Simpen Parobahan Kegigihan
Name[sv]=Spara Persistens-ändringar
Name[sw]=Hifadhi Mabadiliko ya Kudumu
Name[ta]=நிலைத்தன்மை மாற்றங்களைச் சேமிக்கவும்
Name[te]=నిలకడ మార్పులను సేవ్ చేయండి
Name[tg]=Тағиротҳои устуворро захира кунед
Name[th]=บันทึกการเปลี่ยนแปลงการคงอยู่
Name[tk]=Dowamlylyk üýtgeşmelerini saklaň
Name[tr]=Kalıcı Değişiklikleri Kaydet
Name[tt]=Тырышлык үзгәрешләрен саклагыз
Name[ug]=ﯓﻼ﻿ﻗﺎﺳ ﻰﻨﯩﺸﯨﺮﯩﮔﺯﯚﺋ ﺵﯗﺭﯘﺗ ﯔﯩﭼ
Name[uk]=Зберегти зміни збереження
Name[ur]=۔ﮟﯾﺮﮐ ﻅﻮﻔﺤﻣ ﻮﮐ ﮞﻮﯿﻠﯾﺪﺒﺗ ﻞﻘﺘﺴﻣ
Name[uz]=Doimiy o'zgarishlarni saqlang
Name[vi]=Lưu các thay đổi về độ bền
Name[xh]=Gcina iinguqu zokuZingisa
Name[yi]=ןעגנורעדנע סנאַטסיסרעפּ טיה
Name[yo]=Fipamọ Awọn iyipada Itẹẹpẹ
Name[zh_CN]=保存持久化更改
Name[zh_TW]=保存恆常操作更改
Comment=Save filesystem changes when running persistence
Comment[fr_BE]=Enregistrer les changements du fichier système lors d’une session avec persistance
Comment[pt_BR]=Salva as alterações inseridas no sistema de arquivos, se a função persistência tiver sido estabelecida na inicialização
Comment[de]=Änderungen des Dateisystems speichern, sofern Persistenz aktiviert wurde.
Comment[el]=Αποθήκευση αλλαγών συστήματος αρχείων κατά την εκτέλεση persist
Comment[it]=Salva le modifiche del filesystem, quando la persistenza è in esecuzione
Comment[hu]=Mentse a fájlrendszer változásait a perzisztencia futtatásakor
Comment[af]=Stoor lêerstelselveranderinge wanneer volharding uitgevoer word
Comment[am]=የ ፋይል ስርአት ለውጦችን በማያቋርጥ ሲያስኬዱ ማስቀመጫ
Comment[ar]=ﺓﺮﺑﺎﺜﻤﻟﺍ ﻞﻴﻐﺸﺗ ﺪﻨﻋ ﺕﺎﻔﻠﻤﻟﺍ ﻡﺎﻈﻧ ﺕﺍﺮﻴﻴﻐﺗ ﻆﻔﺣ
Comment[be]=Захаваць змены файлавай сістэмы пры запуску persistence
Comment[bg]=Запазва промените по файловата система, докато върви постоянство
Comment[bn]=অধ্যবসায় চালানোর সময় ফাইল সিস্টেম পরিবর্তনগুলি সংরক্ষণ করুন
Comment[bs]=Sačuvajte promjene sistema datoteka prilikom pokretanja persistence
Comment[ca]=Desa els canvis al sistema de fitxers quan s'executa la persistència
Comment[ceb]=I-save ang mga pagbag-o sa filesystem kung magpadayon ang pagpadayon
Comment[co]=Salvà i cambiamenti di u sistema di fugliali quandu eseguite a persistenza
Comment[cs]=Uložte změny souborového systému při běhu persistence
Comment[cy]=Cadw newidiadau i'r system ffeiliau wrth redeg dyfalbarhad
Comment[da]=Gem filsystemsændringer når der køres vedvarenhed
Comment[eo]=Konservu dosiersistemojn ŝanĝojn dum kurado de persisto
Comment[es]=Guardar cambios del sistema de ficheros cuando se ejecuta con persistencia
Comment[et]=Püsimise käivitamisel salvestage failisüsteemi muudatused
Comment[eu]=Gorde fitxategi-sistemaren aldaketak iraunkortasuna exekutatzen duzunean
Comment[fa]=Persistence ﯼﺍﺮﺟﺍ ﻡﺎﮕﻨﻫ ﻢﺘﺴﯿﺳ ﻞﯾﺎﻓ ﺕﺍﺮﯿﯿﻐﺗ ﻩﺮﯿﺧﺫ
Comment[fi]=Tallenna tiedostojärjestelmän muutokset pysyvässä tilavarassa käytön aikana
Comment[fil]=I-save ang mga pagbabago sa filesystem kapag nagpapatakbo ng persistence
Comment[fr]=Enregistrer les changements du fichier système lors d’une session avec persistance
Comment[fy]=Bewarje triemsysteemwizigingen by it útfieren fan persistinsje
Comment[ga]=Sábháil athruithe ar an gcóras comhaid agus an dianseasmhacht á rith
Comment[gd]=Sàbhail atharrachaidhean siostam faidhlichean nuair a bhios tu a ’ruith seasmhachd
Comment[gl]=Garda os cambios do sistema de ficheiros ao executar a persistencia
Comment[gu]=દ્રઢતા ચલાવતી વખતે ફાઇલસિસ્ટમ ફેરફારો સાચવો
Comment[ha]=Ajiye canje-canjen tsarin fayil lokacin gudanar da juriya
Comment[haw]=E mālama i nā hoʻololi ʻōnaehana waihona i ka wā e holo ana i ka hoʻomau
Comment[he]=הדמתה תלעפה תעב םיצבקה תכרעמב םייוניש רומש
Comment[hi]=सतत संरक्षण के दौरान किए फाइल सिस्टम परिवर्तन संचित करें
Comment[hr]=Spremi promjene datotečnog sustava prilikom pokretanja persistence
Comment[ht]=Sove chanjman nan sistèm fichye yo lè w ap kouri pèsistans
Comment[hy]=Պահպանեք ֆայլային համակարգի փոփոխությունները համառություն գործարկելիս
Comment[id]=Simpan perubahan sistem file saat menjalankan kegigihan
Comment[is]=Vistaðu breytingar á skráarkerfi þegar þú keyrir þrautseigju
Comment[ja]=パーシステンス実行時にファイルシステムの変更を保存
Comment[jv]=Simpen owah-owahan sistem file nalika mlaku terus-terusan
Comment[ka]=შეინახეთ ფაილური სისტემის ცვლილებები მდგრადობის გაშვებისას
Comment[kk]=Perssisence іске қосылған кезде файлдық жүйе өзгерістерін сақтаңыз
Comment[km]=រក្សាទុកការផ្លាស់ប្តូរប្រព័ន្ធឯកសារនៅពេលដំណើរការជាប់លាប់
Comment[kn]=ನಿರಂತರ ಚಾಲನೆಯಲ್ಲಿರುವಾಗ ಫೈಲ್u200cಸಿಸ್ಟಮ್ ಬದಲಾವಣೆಗಳನ್ನು ಉಳಿಸಿ
Comment[ko]=지속성을 실행할 때 파일 시스템 변경 사항 저장
Comment[ku]=Dema ku domdar dimeşîne guhertinên pergala pelan hilînin
Comment[ky]=Персистенцияны иштетип жатканда файл тутумундагы өзгөрүүлөрдү сактаңыз
Comment[lb]=Späichert Dateiesystem Ännerungen wann Dir Persistenz leeft
Comment[lo]=ບັນທຶກການປ່ຽນແປງລະບົບໄຟລ໌ເມື່ອເຮັດວຽກຢ່າງຕໍ່ເນື່ອງ
Comment[lt]=Išsaugokite failų sistemos pakeitimus, kai vykdomas persistengimas
Comment[lv]=Palaižot noturību, saglabājiet failu sistēmas izmaiņas
Comment[mg]=Tehirizo ny fiovan'ny fichier rehefa mandeha ny faharetana
Comment[mi]=Tiakina nga huringa o te punaha konae i te wa e whakahaere ana te tohe
Comment[mk]=Зачувајте ги промените на датотечниот систем кога се извршува упорноста
Comment[ml]=പെർസിസ്റ്റൻസ് പ്രവർത്തിപ്പിക്കുമ്പോൾ ഫയൽസിസ്റ്റം മാറ്റങ്ങൾ സംരക്ഷിക്കുക
Comment[mn]=Persistence-г ажиллуулах үед файлын системийн өөрчлөлтийг хадгал
Comment[mr]=पर्सिस्टन्स चालू असताना फाइल सिस्टममधील बदल जतन करा
Comment[ms]=Simpan perubahan sistem fail apabila menjalankan kegigihan
Comment[mt]=Issejvja l-bidliet fis-sistema tal-fajls meta taħdem il-persistenza
Comment[my]=ဆက်လက်လုပ်ဆောင်နေချိန်တွင် ဖိုင်စနစ်အပြောင်းအလဲများကို သိမ်းဆည်းပါ။
Comment[ne]=स्थिरता चलाउँदा फाइल प्रणाली परिवर्तनहरू बचत गर्नुहोस्
Comment[nl]=Bestandssysteemwijzigingen opslaan terwijl persistentie actief is
Comment[nb]=Lagre endringer i filsystemet
Comment[ny]=Sungani zosintha zamafayilo mukamagwiritsa ntchito kulimbikira
Comment[or]=ସ୍ଥିରତା ଚଲାଇବା ସମୟରେ ଫାଇଲତନ୍ତ୍ର ପରିବର୍ତ୍ତନଗୁଡ଼ିକୁ ସଂରକ୍ଷଣ କରନ୍ତୁ |
Comment[pa]=ਸਥਿਰਤਾ ਚਲਾਉਣ ਵੇਲੇ ਫਾਈਲ ਸਿਸਟਮ ਤਬਦੀਲੀਆਂ ਨੂੰ ਸੰਭਾਲੋ
Comment[pl]=Zapisz zmiany w systemie plików, gdy korzystasz z systemu z opcją Persistence
Comment[ps]=ﺉړﮐ ﻱﺪﻧﻮﺧ ﻪﻧﻮﻧﻮﻟﺪﺑ ﻢټﺴﯿﺳ ﻞﯾﺎﻓ ﺩ ﻱﻮﻠﭼ ﻡﺍﻭﺩ ﯥﭼ ﻪﻠﮐ
Comment[pt]=Guarda as alterações introduzidas no sistema de ficheiros, se a função <<persistência>> tiver sido estabelecida no arranque
Comment[ro]=Salvați modificările sistemului de fișiere când rulați persistența
Comment[ru]=Сохранение изменений файловой системы при работе с сохранением
Comment[rw]=Bika dosiye yimikorere ihinduka mugihe ukomeje gutsimbarara
Comment[sd]=ﻲﻫﺭ ﻱﺭﺎﺟ ﻦﻫڏﺟ ﻮﻳﺮڪ ﻅﻮﻔﺤﻣ ﻲﮐ ﻦﻴﻠﻳﺪﺒﺗ ﻲﺟ ﻢٽﺴﺳ ﻞﺋﺎﻓ
Comment[si]=අඛණ්ඩව ධාවනය වන විට ගොනු පද්ධති වෙනස්කම් සුරකින්න
Comment[sk]=Uložte zmeny súborového systému pri spustení vytrvalosti
Comment[sl]=Posnemi spremembe datotečnega sistema ob zagonu persistence
Comment[sm]=Fa'asaoina suiga o faiga faila pe a fa'agasolo le fa'aauau
Comment[sn]=Sevha mafaera ekuchinja kana uchimhanyisa kushingirira
Comment[so]=Keydi isbeddelada nidaamka faylalka marka adkeysiga ku socoto
Comment[sq]=Ruani ndryshime sistemi kartelash, kur xhirohet si vazhdueshmëri
Comment[sr]=Сачувајте промене система датотека приликом покретања персистенце
Comment[st]=Boloka liphetoho tsa tsamaiso ea lifaele ha u ntse u sebetsa
Comment[su]=Simpen parobahan sistem file nalika ngajalankeun kegigihan
Comment[sv]=Spara ändringar av filsystemet när persistens används
Comment[sw]=Hifadhi mabadiliko ya mfumo wa faili wakati wa kuendesha usugu
Comment[ta]=தொடர்ந்து இயங்கும் போது கோப்பு முறைமை மாற்றங்களைச் சேமிக்கவும்
Comment[te]=నిలకడను అమలు చేస్తున్నప్పుడు ఫైల్u200cసిస్టమ్ మార్పులను సేవ్ చేయండి
Comment[tg]=Ҳангоми иҷрои доимӣ тағиротҳои системаи файлиро захира кунед
Comment[th]=บันทึกการเปลี่ยนแปลงระบบไฟล์เมื่อเรียกใช้การคงอยู่
Comment[tk]=Dowamlylyk işledilende faýl ulgamynyň üýtgemelerini ýazdyryň
Comment[tr]=Kalıcı çalışırken dosya sistemi değişikliklerini kaydet
Comment[tt]=Тырышлык эшләгәндә файл системасы үзгәрүләрен саклагыз
Comment[ug]=ﯓەﺠﯧﺗ ﻰﻨﯩﺸﯨﺮﯩﮔﺯﯚﺋ ﯔﯩﻨﯩﺴﯩﻤﯧﺘﺴﯩﺳ ﺕەﺠﺟﯚﮬ ﺍﺪﻧﺎﻏﺭﯘﺗ ﯔﯩﭼ
Comment[uk]=Збережіть зміни файлової системи під час запуску Persistence
Comment[ur]=۔ﮟﯾﺮﮐ ﻅﻮﻔﺤﻣ ﻮﮐ ﮞﻮﯿﻠﯾﺪﺒﺗ ﯽﮐ ﻢﭩﺴﺳ ﻞﺋﺎﻓ ﺖﻗﻭ ﮯﺘﻠﭼ ﻞﻘﺘﺴﻣ
Comment[uz]=Persistence ishga tushganda fayl tizimidagi oʻzgarishlarni saqlang
Comment[vi]=Lưu các thay đổi hệ thống tệp khi chạy liên tục
Comment[xh]=Gcina utshintsho kwindlela yefayile xa uqhuba uzingiso
Comment[yi]=סנאַטסיסרעפּ קידנסילפ ןעוו ןעגנורעדנע םעטסיסעליפ טיה
Comment[yo]=Ṣafipamọ awọn ayipada eto faili nigba ṣiṣe itẹramọṣẹ
Comment[zh_CN]=在运行持久化时保存对文件系统的更改
Comment[zh_TW]=恆常操作運行時保存文件系統更改
Exec=su-to-root -X -c persist-save
Icon=palimpsest
Terminal=false
Type=Application
Categories=X-antiX;
NoDisplay=false

GenericName=Save Persistence Changes
GenericName[fr_BE]=Persistance Enregistrer les changements
GenericName[pt_BR]=Salvar as Alterações na Persistência de Dados
GenericName[de]=Änderungen persistent speichern
GenericName[el]=Αποθήκευση Αλλαγών
GenericName[it]=Salva modifiche nella persistenza
GenericName[hu]=Tartós változtatások mentése
GenericName[af]=Stoor volhardingsveranderinge
GenericName[am]=የማያቋርጥ ለውጥ
GenericName[ar]=ﺓﺮﻤﺘﺴﻤﻟﺍ ﺕﺍﺮﻴﻴﻐﺘﻟﺍ ﻆﻔﺣ
GenericName[be]=Захаваць устойлівыя змены
GenericName[bg]=Запазване на промените за постоянство
GenericName[bn]=অধ্যবসায় পরিবর্তন সংরক্ষণ করুন
GenericName[bs]=Sačuvaj promjene postojanosti
GenericName[ca]=Desa els canvis a la persistència
GenericName[ceb]=I-save ang Pagpadayon nga mga Pagbag-o
GenericName[co]=Salvà i cambiamenti di persistenza
GenericName[cs]=Uložit změny perzistence
GenericName[cy]=Arbed Newidiadau Dyfalbarhad
GenericName[da]=Gem vedvarenhedsændringer
GenericName[eo]=Konservu Persistajn Ŝanĝojn
GenericName[es]=Guardar cambios de Persistencia
GenericName[et]=Salvestage püsivuse muudatused
GenericName[eu]=Gorde iraunkortasun-aldaketak
GenericName[fa]=ﺪﯿﻨﮐ ﻩﺮﯿﺧﺫ ﺍﺭ ﯼﺭﺍﺪﯾﺎﭘ ﺕﺍﺮﯿﯿﻐﺗ
GenericName[fi]=Tallenna pysyvän tilavaran muutokset
GenericName[fil]=I-save ang Mga Pagbabago sa Pagtitiyaga
GenericName[fr]=Persistance Enregistrer les changements
GenericName[fy]=Bewarje Persistinsje Feroarings
GenericName[ga]=Sábháil Athruithe Marthanachta
GenericName[gd]=Sàbhail atharrachaidhean seasmhachd
GenericName[gl]=Gardar cambios de persistencia
GenericName[gu]=પર્સિસ્ટન્સ ફેરફારો સાચવો
GenericName[ha]=Ajiye Canje-canje na Juriya
GenericName[haw]=E mālama i nā hoʻololi hoʻomau
GenericName[he]=הדמתהב םייוניש רומש
GenericName[hi]=संरक्षण परिवर्तन संचय
GenericName[hr]=Spremi promjene postojanosti
GenericName[ht]=Sove chanjman pèsistans
GenericName[hy]=Պահպանեք համառության փոփոխությունները
GenericName[id]=Simpan Perubahan Kegigihan
GenericName[is]=Vista breytingar á varanlegri gagnageymslu
GenericName[ja]=パーシステンスの変更を保存
GenericName[jv]=Simpen Owah-owahan Kegigihan
GenericName[ka]=შეინახეთ მდგრადობის ცვლილებები
GenericName[kk]=Тұрақтылық өзгерістерін сақтаңыз
GenericName[km]=រក្សាទុកការផ្លាស់ប្តូរការតស៊ូ
GenericName[kn]=ನಿರಂತರ ಬದಲಾವಣೆಗಳನ್ನು ಉಳಿಸಿ
GenericName[ko]=지속성 변경 사항 저장
GenericName[ku]=Save Guherandinên Persistence
GenericName[ky]=Туруктуу өзгөрүүлөрдү сактоо
GenericName[lb]=Retten Persistenz Ännerungen
GenericName[lo]=ບັນທຶກການປ່ຽນແປງຄົງທີ່
GenericName[lt]=Išsaugokite patvarumo pakeitimus
GenericName[lv]=Saglabājiet noturības izmaiņas
GenericName[mg]=Vonjeo ny fiovana maharitra
GenericName[mi]=Tiaki Huringa Tonu
GenericName[mk]=Зачувајте ги промените на упорноста
GenericName[ml]=സ്ഥിരതയുള്ള മാറ്റങ്ങൾ സംരക്ഷിക്കുക
GenericName[mn]=Тогтвортой байдлын өөрчлөлтийг хадгалах
GenericName[mr]=चिकाटी बदल जतन करा
GenericName[ms]=Simpan Perubahan Kegigihan
GenericName[mt]=Save Persistenza Bidliet
GenericName[my]=စွဲမြဲသောပြောင်းလဲမှုများကို သိမ်းဆည်းပါ။
GenericName[ne]=दृढता परिवर्तनहरू बचत गर्नुहोस्
GenericName[nl]=Persistentie Wijzigingen Opslaan
GenericName[nb]=Lagre endringer i filsystemet
GenericName[ny]=Sungani Kulimbikira Kusintha
GenericName[or]=ସ୍ଥିରତା ପରିବର୍ତ୍ତନ ସଞ୍ଚୟ କରନ୍ତୁ |
GenericName[pa]=ਸਥਿਰਤਾ ਤਬਦੀਲੀਆਂ ਨੂੰ ਸੁਰੱਖਿਅਤ ਕਰੋ
GenericName[pl]=Zapisz zmiany w Persistence
GenericName[ps]=ﺉړﮐ ﻱﺪﻧﻮﺧ ﻪﻧﻮﻧﻮﻟﺪﺑ ﻡﺍﻭﺩ ﺩ
GenericName[pt]=Persistência > Guardar Alterações
GenericName[ro]=Salvați modificările de persistență
GenericName[ru]=Сохранить изменения сохраняемости
GenericName[rw]=Bika Impinduka zo Kwihangana
GenericName[sd]=ﻮﻳﺎﭽﺑ ﻲﮐ ﻦﻴﻠﻳﺪﺒﺗ ﻞﺴﻠﺴﻣ
GenericName[si]=නොනැසී පවතින වෙනස්කම් සුරකින්න
GenericName[sk]=Uložiť zmeny trvalosti
GenericName[sl]=Sharni spremembe persistence
GenericName[sm]=Faasaoina Suiga Tumau
GenericName[sn]=Chengetedza Kuramba Kuchinja
GenericName[so]=Badbaadi isbedelada joogtada ah
GenericName[sq]=Ruani Ndryshime Vazhdueshmërie
GenericName[sr]=Сачувај промене постојаности
GenericName[st]=Boloka Liphetoho tsa Phehello
GenericName[su]=Simpen Parobahan Kegigihan
GenericName[sv]=Spara Persistens-ändringar
GenericName[sw]=Hifadhi Mabadiliko ya Kudumu
GenericName[ta]=நிலைத்தன்மை மாற்றங்களைச் சேமிக்கவும்
GenericName[te]=నిలకడ మార్పులను సేవ్ చేయండి
GenericName[tg]=Тағиротҳои устуворро захира кунед
GenericName[th]=บันทึกการเปลี่ยนแปลงการคงอยู่
GenericName[tk]=Dowamlylyk üýtgeşmelerini saklaň
GenericName[tr]=Kalıcı Değişiklikleri Kaydet
GenericName[tt]=Тырышлык үзгәрешләрен саклагыз
GenericName[ug]=ﯓﻼ﻿ﻗﺎﺳ ﻰﻨﯩﺸﯨﺮﯩﮔﺯﯚﺋ ﺵﯗﺭﯘﺗ ﯔﯩﭼ
GenericName[uk]=Зберегти зміни збереження
GenericName[ur]=۔ﮟﯾﺮﮐ ﻅﻮﻔﺤﻣ ﻮﮐ ﮞﻮﯿﻠﯾﺪﺒﺗ ﻞﻘﺘﺴﻣ
GenericName[uz]=Doimiy o'zgarishlarni saqlang
GenericName[vi]=Lưu các thay đổi về độ bền
GenericName[xh]=Gcina iinguqu zokuZingisa
GenericName[yi]=ןעגנורעדנע סנאַטסיסרעפּ טיה
GenericName[yo]=Fipamọ Awọn iyipada Itẹẹpẹ
GenericName[zh_CN]=保存持久化更改
GenericName[zh_TW]=保存恆常操作更改
